nonebot2[fastapi]
nb-cli
nonebot-adapter-onebot

pillow
pil_utils
aiohttp
githubkit

# autoreply
aiofiles

# sklassistant
aioimaplib
aiosmtplib
pydantic[email]
nonebot-plugin-apscheduler

# maimai
# pydub

# wordle
# pyenchant
