nonebot2[fastapi]
nb-cli
nonebot-adapter-onebot

pillow
pil_utils
aiohttp

# autoreply
aiofiles

# sklassistant
aioimaplib
aiosmtplib
quart
pydantic[email]
nonebot-plugin-apscheduler

# maimai
# pydub

# wordle
# pyenchant
